.mainframe {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 500px;
    margin: 50px auto;
}

/* .grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
} */
